/* *********************************
Variables
 ********************************** */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: white;
  margin: 0; }

.content {
  background-color: green;
  min-height: 100%;
  position: relative;
  text-align: center; }

aside {
  opacity: 0.5;
  background: white;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 200px; }

.navigation {
  top: 50%;
  left: 80%;
  transform: translateY(-50%);
  position: absolute; }

header {
  z-index: 2;
  top: 0; }

.header__big-banner {
  top: inherit;
  position: fixed;
  height: 200px;
  width: 100%;
  background-color: #171712;
  border-bottom: #1D421D solid 1px; }

.header__small-banner {
  top: inherit;
  /*display:none;*/
  opacity: 0;
  z-index: inherit;
  background-color: #171712;
  height: 70px;
  width: 100%;
  position: fixed; }

.content__section__item {
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 120px;
  margin-bottom: 120px;
  /*height: inherit;*/
  height: 600px;
  /*background: url("footer_lodyas.png") repeat 50%;*/
  /*background: url("dark_dotted2.png") repeat 50%;*/
  background: url("img/pattern1.png") repeat 50%;
  /*background: url("dark_mosaic.png") repeat 50%;*/
  /*background: url("dark_wood.png") repeat 50%;*/
  opacity: 0.8;
  /*float: left;*/
  /*width:100%;*/
  /*background: url("wood_1.png") repeat 50%;*/
  /*background: url("black-Linen.png") repeat 50%;*/
  /*background: url("triangles.png") repeat 50%;*/ }

.navigation__list {
  list-style-type: none; }

.navigation__list__item {
  display: inline; }

.navigation__list a {
  text-decoration: none;
  font-size: 20px;
  width: 60px; }

#home {
  background-color: pink;
  /*background-image:url('img/par.jpg');*/
  background-image: url("img/par.jpg"); }

#skills {
  /*background-color: yellow;*/ }

#projects {
  /*background-color: white;*/
  background-image: url("img/long.jpg");
  background-position: 0; }

#contact {
  /*background-color: brown;*/ }

.content__section-background {
  position: relative;
  overflow: hidden;
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%; }

#skills-background {
  background-image: url("img/bcg_slide-1.jpg"); }

/*#projects-background {background-image:url('img/bcg_slide-2.jpg')}*/
#contact-background {
  background-image: url("img/bcg_slide-3.jpg"); }

.header__big-banner--visible {
  margin-left: 200px;
  margin-right: 200px;
  top: 50%; }

.header__img {
  float: left;
  width: 170px;
  border-radius: 50em;
  border: solid 4px #044D04;
  /*top: 50%;*/
  transform: translateY(6%); }

.header__text {
  float: left;
  margin-top: 100px; }

.content__section__small__item {
  display: inline-block;
  vertical-align: middle;
  /*margin-right: $aside-width;*/
  /*margin-left: $aside-width;*/
  margin-top: 300px;
  /*margin-bottom: $content-vertical-margin;*/
  /*height: inherit;*/
  height: 285px;
  width: 285px;
  /*background: url("footer_lodyas.png") repeat 50%;*/
  background: url("img/pattern1.png") repeat 50%;
  /*background: url("img/pattern_original.png") repeat 50%;*/
  /*background: url("dark_mosaic.png") repeat 50%;*/
  /*background: url("dark_wood.png") repeat 50%;*/
  /*float: left;*/
  /*width:100%;*/
  /*background: url("wood_1.png") repeat 50%;*/
  /*background: url("black-Linen.png") repeat 50%;*/
  /*background: url("triangles.png") repeat 50%;*/
  border: #1D421D solid 1px; }

.dummy {
  display: inline-block;
  vertical-align: middle;
  margin-top: 300px;
  height: 300px;
  width: 300px; }

/*# sourceMappingURL=main.css.map */
