/* *********************************
Variables
 ********************************** */
$navbar-height: 50px;
$big-banner-height: 200px;
$small-banner-height: 70px;
$aside-width: 200px;
$content-vertical-margin: 120px;
$big-banner-color: #171712;

$body-background-color: white;

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333;
	background-color: $body-background-color;
	margin:0;
}



.content{
	background-color: green;
	min-height: 100%;
	position: relative;
	text-align: center;

}

aside {
	opacity: 0.5;
	background: $body-background-color;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: $aside-width;
};

.navigation{
	 top: 50%;
	 left: 80%;
	  transform: translateY(-50%);
	  position: absolute;

}

header{
z-index: 2;
top:0;
}


.header__big-banner{
	top:inherit;
	position: fixed;
	height: $big-banner-height;
	width: 100%;
	background-color: $big-banner-color;
}


.header__small-banner{
	top:inherit;
	/*display:none;*/
	opacity: 0;
	z-index: inherit;
	background-color: $big-banner-color;
	height: $small-banner-height;
	width:100%;
	position: fixed;
}

.content__section{
}

.content__section__item{
	margin-right: $aside-width;
	margin-left: $aside-width;
	margin-top: $content-vertical-margin;
	margin-bottom: $content-vertical-margin;
	/*height: inherit;*/
	height: 600px;
	/*background: url("footer_lodyas.png") repeat 50%;*/
	background: url("dark_dotted2.png") repeat 50%;
	/*background: url("dark_mosaic.png") repeat 50%;*/
	/*background: url("dark_wood.png") repeat 50%;*/
	opacity: 0.8;
	/*float: left;*/
	/*width:100%;*/
	/*background: url("wood_1.png") repeat 50%;*/
	/*background: url("black-Linen.png") repeat 50%;*/
	/*background: url("triangles.png") repeat 50%;*/

}

.navigation__list{
	list-style-type: none;
}

.navigation__list__item{
	display: inline;
}

.navigation__list a{
	text-decoration:none;
	font-size: 20px;
	width: 60px;
}

#about{
background-color: pink;

}



#skills{

/*background-color: yellow;*/
}


#projects{
	/*background-color: white;*/
	background-image:url('img/long.jpg');
	background-position: 0;
}



#contact{
	/*background-color: brown;*/
}






/*.active{*/
	/*color: white;*/
	/*background-color: rgba(100,100,100,1);*/
	/*border-left: thick solid rgba(0,255,0,0.5);*/
/*}*/






.content__section-background {
	position: relative;
	overflow: hidden;
	background-position: center center;
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#skills-background {background-image:url('img/bcg_slide-1.jpg')}
/*#projects-background {background-image:url('img/bcg_slide-2.jpg')}*/
#contact-background {background-image:url('img/bcg_slide-3.jpg')}




.header__img{
	margin-left: $aside-width;
	width: 170px;
	border-radius: 50em;
	border: solid 4px #044D04;
	/*top: 50%;*/
	transform: translateY(6%);
}


