/* *********************************
Variables
 ********************************** */
$navbar-height: 50px;
$big-banner-height: 200px;
$small-banner-height: 70px;
$aside-width: 120px;

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333;
	background-color: #FFF;
	margin:0;
}



.content{
	background-color: green;
	margin-right: $aside-width;
	min-height: 100%;
	margin-left: $aside-width;
	position: relative;
	text-align: center;

}

aside {
	opacity: 0.5;
	background: #90EE90 none repeat scroll 0% 0%;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: $aside-width;
}

.navigation{
 	top: 50%;
  	transform: translateY(-50%);
  	position:fixed;

}

header{
z-index: 1;
top:0;
}


.header__big-banner{
	z-index: inherit;
	top:inherit;
	position: absolute;
	height: $big-banner-height;
	width: 100%;
	background-color: yellow;
}


.header__small-banner{
	top:inherit;
	opacity: 0;
	z-index: inherit;
	background-color: blue;
	height: $small-banner-height;
	width:100%;
	position: fixed;
}

.content__section{
	float: left;
	width:100%;
}


#about{
background-color: pink;

}



#skills{

background-color: yellow;
}


#projects{
	background-color: white;
}



#contact{
	background-color: brown;
}

